.Button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .Button1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .Button1:hover {
    background-color: #555555;
    color: white;
  }
  .announcecss{

  }